In [ ]:
!pip install lxml

In [140]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [141]:
df = pd.read_csv('../data/2006_data.csv')

/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (39,40,41,42,43,44,45,46,47,59,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [142]:
df.tail(2)

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,...,record_condition_18,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
2430723,1,NaN,1.0,1,11,M,4,1,NaN,3,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
2430724,1,NaN,1.0,1,9,F,6,1,NaN,1,...,NaN,NaN,NaN,2,NaN,NaN,3,2,100,7

In [143]:
df.fillna(value='', inplace=True)

In [144]:
df['causes'] = '|'

In [145]:
causes = df['causes']

In [146]:
df.causes.head()

0    |
1    |
2    |
3    |
4    |
Name: causes, dtype: object

In [154]:
cause_set = set()

In [157]:
for i in range(1,21):
    cause_set = cause_set.union(set(df['record_condition_'+str(i)]))

In [158]:
len(cause_set)

5519

In [137]:
for i in range(1,21):
    causes += df['record_condition_'+str(i)]+'|'

In [138]:
causes.str.replace('\|+', '|')

0                                       |I500|
1                              |I251|I500|J81|
2                                  |N189|I500|
3                         |J449|C80|I251|I469|
4                                  |C509|J969|
5                                  |V299|T149|
6                                       |I469|
7                     |X59|G309|I10|R092|S068|
8                                       |J449|
9                             |V892|S099|S299|
10                                 |G309|I469|
11                            |J189|I469|R092|
12                                  |N19|I219|
13         |J449|C189|E785|G473|I10|I469|R688|
14                                      |C509|
15                                      |I500|
16                             |D70|A419|L039|
17                                      |C189|
18                  |I519|E668|M839|R578|R688|
19         |C920|C61|C782|D469|I251|J969|K922|
20                            |E149|I219|I500|
21                            |C189|C787|I469|
22                                 |I251|I120|
23                    |I500|F03|J449|J690|N19|
24                    |X59|K729|N19|S269|T794|
25                            |I500|I469|R092|
26                                       |R99|
27                                      |I219|
28                                 |I500|R092|
29                                 |G309|A419|
                          ...
2430695                         |I251|B24|R99|
2430696                            |N390|I469|
2430697                            |J159|I469|
2430698                   |P280|N19|P285|Q795|
2430699               |E149|A419|F03|I469|L89|
2430700                                 |Q336|
2430701                            |C329|I469|
2430702                            |J159|I469|
2430703                             |X42|T406|
2430704                            |F101|F100|
2430705                             |I619|R99|
2430706                                 |P072|
2430707              |I500|D649|I279|I469|R99|
2430708                       |C911|A419|I469|
2430709                            |C449|I469|
2430710                       |C220|B227|I469|
2430711                            |C169|C796|
2430712                       |I251|I469|I500|
2430713              |I219|E149|E780|I10|I469|
2430714                       |K703|B942|K729|
2430715         |B182|A419|I351|I469|K746|R99|
2430716                        |C55|C780|I469|
2430717                                 |P291|
2430718                       |J189|A419|I469|
2430719                              |I64|I10|
2430720                            |J159|I469|
2430721                       |I250|E149|I119|
2430722                       |P011|P027|P241|
2430723                       |P220|P285|P612|
2430724                            |P070|P072|
Name: causes, Length: 2430725, dtype: object

In [139]:
del df